*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.negro {
    background-color: #222222;
}
.btn {
    background-color: black;
    border-color: black;
    border-radius: 10px;
}
.texto {
    margin-top: 1rem;
    margin-bottom: 1re;
}
.columna {
    text-align: center !important;
}
.page-footer{
    margin-top: 2rem !important;
}
/* Css para la barra de navegacion */
.navbar {
    background-color: #16151a;
    margin-bottom: 0;
	padding-top: 0;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: #cc903d;
}
.droptext {
    color: #16151a;
}
.dropdown{
    list-style-type: none;
}
.dropdown-menu{
    margin-right: 0px !important;
}
/* Css para la animacion in icial al cargar la pagina */
.intro {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    background-color:#16151a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}
.intro-text {
    color:white;
    font-family: 'Lora', serifd;
    font-size: 10rem;
}
.hide {
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
/* Footer CSS styles*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

.foot {
    background-color: #16151a;
    position: relative;
}
.card {
    
    border-color: transparent;
    padding: 2% 7%;
    color: #646771;
    background-color: #16151a
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
ul>li {
    padding: 4px
}
ul>li:hover {
    color: #cc903d;
    cursor: pointer
}
hr {
    border-width: 3px
}
.social>i {
    padding: 1%;
    font-size: 15px
}
.social>i:hover {
    color: #cc903d;
    cursor: pointer
}
.policy>div {
    padding: 4px
}
.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}
.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}
